!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title
      Webrake
    %link{ href: "/stylesheets/application.css", media: "all", rel: "stylesheet" }

  %body
    %nav.Webrake
      %h1
        &mdash; A web GUI for your Rake tasks

    %section.Container

      .Wrapper

        %h2.Introduction
          Output of
          %code= task.name

        %hr

        %pre.Task_output
          %code#Task_output-content{ :"data-stream-id" => stream_id }

        %hr
        %a{ href: "/" } &larr; Back to List

  %script{ src: "/javascripts/application.js" }
